# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#VS Code
.vscode/

joda-time
/.metadata/

# TandoopTest
tandoop/src/test/java/com/github/tongxin97/tandoop/TandoopTest.java

# test output
failed_test_classes
err_seqs.txt
non_err_seqs.txt
coverageInfo
RandoopCoverage
inheritance.txt