# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#VS Code
.vscode/

joda-time
/.metadata/

# test output
failed_test_classes

# Jacoco
jacoco.exec
coverageInfo
RandoopCoverage
